/* .contenedor {
    margin-top: 1rem;
    text-align: center;
}

.boton {
    background-color: #AED6F1;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #212F3D;
}

.boton:active {
    background-color: #48C9B0;
    color: white;
} */