<app-buscador (buscador)="obtenerPaisAFiltrar($event)"></app-buscador>

<div class="contenedor">
    <div class="cabecera">
        <div class="bandera">Bandera</div>
        <div class="nombre">Nombre del pais</div>
        <div class="capital">Capital</div>
        <div class="region">Region</div>
        <div class="idioma">Idioma</div>
    </div>
    <div class="contenedor-cuerpo">
        <div *ngFor="let pais of paises | busqueda:filtroValor" class="cuerpo" (click)="verDetallePais(pais)">
            <div class="bandera-casilla">
                <img [src]="pais.flag" class="bandera-img" width="80" height="40">
            </div>
            <div class="nombre"> {{ pais.name }} </div>
            <div class="capital">{{pais.capital}}</div>
            <div class="region"> {{pais.region}} </div>
            <div class="idioma">{{pais.nativeName}}</div>
        </div>
    </div>
</div>